.brend {
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  margin-bottom: 30px;
}
.brend__title {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.brend__text {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}
.brend__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.brend__link {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #2997ff;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}
.brend__link__icon {
  font-size: 12px;
}
