.top__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}
.top__title {
  max-width: 625px;
  color: #1d1d1d;
  display: inline;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
}
.top__strong {
  color: #6e6e73;
}
.top__exam {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.top__h3 {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
  color: #1d1d1f;
}
.top__text {
  color: #06c;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
  padding-bottom: 16px;
  -webkit-text-size-adjust: none;
}
.bottom__info {
  margin-left: 260px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: auto;
}
.bottom__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom__img {
  width: 200px;
  margin-bottom: 20px;
}
.bottom__title {
  color: #1d1d1f;
  display: block;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-weight: 600;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding-bottom: 20px;
}
